/** HEADER **/
* {
    box-sizing: border-box;
  }

#header-nav {
    background-color: grey;
    border-radius: 0;
   
    border-color:  black;
    border-width:3px; 
    min-height: 80px;
  }

  

  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }

  .navbar-brand {
    padding-top: 25px;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
    

  }
 
    

  #nav-list {
    margin-top: 10px;
    background-color: lightgray;
    
    
  }
  #nav-list a {
    color: black;
    text-align: center;
    font-size: 1.3em;
  }

#text{
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.col-md-6 .container-fluid{
    background-color:burlywood;
    
    width: 90%;
    height: 500px;
    color: black;
    margin-bottom: 20px;
    
}

.col-lg-4 .container-fluid{
    background-color:burlywood;
    
    width: 90%;
    height: 90%;
    color: black;
    margin-bottom: 20px;
    
}
.col-sm-12 .container-fluid {
    background-color:burlywood;
    
    width: 95%;
    height: 90%;
    color: black;
    margin-bottom: 20px;
    
}

.col-xs-12 .container{
    background-color:burlywood;
    
    width: 90%;
    height: 90%;
    color: black;
    margin-bottom: 20px;
    
}


#h3{
    padding-top: 5px;
    padding-bottom: 5px;
    color:black;
}

.container div{
    margin: 0;
}
  